.navigationLargeScreen ul  {
	display: none;
}

.navigationSmallScreen {
	display: inline-block;
}

body {
	padding: 2em 1em 2em 0;
}

td {
    min-width:300px;
    width: 95%;
    display: block;
    padding-bottom: 5px;
    padding-top: 40px;
}

ul {
    padding-left: 15px;
}

option {
	padding-right: 0;
}

select {
    font-size: 1em;
}

.searchInput {
    padding-left: 15px;
}

#searchInput {
    margin-bottom: 30px;
}

#search {
	width: 70%;
	max-width: 170px;
}

#addButton {
    padding: 6px;
    display: inline-block;
    font-size: 14px;
}

.optionsList {
    font-weight: bolder;

}

.img-wrap {
    position: relative;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    right: 5px;
    padding: 15px 15px 10px 10px;
    color: #000;
    font-size: 22px;
    line-height: 10px;
}

.card img{
    width : 95%;
    padding : 5px 0 0 5px;
}

.content {
    margin: 0 0 25px 15px;
}

.lab {
    font-size: large;
}
